:root {
  --color-background: #f8f8f8;
  --font-main: 'Nunito', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  font-style: normal;

  em {
    font-style: italic;
  }

  ol {
    list-style-position: inside;
  }

  ul {
    list-style-position: inside;
  }
}

body {
  background-color: var(--color-background);
  font-family: var(--font-main);
  font-weight: var(--font-weight-normal);
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
}

.ql-indent-1 {
  margin-left: 2em;
}
.ql-indent-2 {
  margin-left: 4em;
}
.ql-indent-3 {
  margin-left: 6em;
}
.ql-indent-4 {
  margin-left: 8em;
}
.ql-indent-5 {
  margin-left: 10em;
}
.ql-indent-6 {
  margin-left: 12em;
}
.ql-indent-7 {
  margin-left: 14em;
}
.ql-indent-8 {
  margin-left: 16em;
}
.ql-indent-9 {
  margin-left: 18em;
}
.ql-indent-10 {
  margin-left: 20em;
}
